        #head {
            position: relative;
        }
        
        #mv {
            text-align: center;
            a {
                margin-top: 10px;
                text-decoration: none;
                font-weight: bold;
                color: #333;
                &:hover {
                    color: #fff;
                }
            }
        }
        
        .logo {
            font-size: 6rem;
            line-height: .7;
            position: absolute;
            top: -3px;
            right: 2px;
        }
        
        #gnav,
        #mv {
            background: url(../img/bg.jpg) no-repeat center center;
        }
        
        //TAB用CSS---------------------------------------
        @media screen and (min-width: 768px) {
            #head {
                width: calc(205/1200*100%);
                height: 100vh;
                position: fixed;
                right: 0;
                bottom: 0;
                z-index: 100;
            }
            #mv {
                height: 100vh;
                position: relative;
                background: #fff;
                a {
                    &:hover {
                        color: $ac;
                    }
                }
            }
            .mv-box {
                width: calc(504/1200*100%);
                height: auto;
                vertical-align: bottom;
                background: url(../img/head_mv_bg.jpg) no-repeat center top/contain;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                margin: auto;
                img {
                    margin-bottom: 20px;
                }
            }
            .logo {
                font-size: 7rem;
                position: absolute;
                top: -2px;
                right: 3px;
                float: right;
            }
        }
        
        //PC用CSS---------------------------------------
        @media screen and (min-width: 1200px) {
            .logo {
                font-size: 9rem;
            }
        }
