        #head {
            position: absolute;
            z-index: 100;
            width: 100%;
            background-color: #fff;
        }
        
        .logo {
            font-size: 6rem;
            line-height: .7;
            position: absolute;
            top: -3px;
            right: 2px;
        }
        
        //TAB用CSS---------------------------------------
        @media screen and (min-width: 768px) {
            #head {
                width: calc(205/1200*100%);
                height: 100vh;
                position: fixed;
                right: 0;
                bottom: 0;
                z-index: 100;
            }
            .logo {
                font-size: 7rem;
                position: absolute;
                top: -2px;
                right: 3px;
                float: right;
            }
        }
        
        //PC用CSS---------------------------------------
        @media screen and (min-width: 1200px) {
            .logo {
                font-size: 9rem;
            }
        }
