$ac:#fcff00;
$ac2:#6d0000;
$fc:#333;
$tpt: 19%;
%cf {
    &::after {
        content: "";
        clear: both;
        display: block;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
