#contact {
    background: url(../img/bg_img_contact.png) no-repeat center 80% /calc(284/320*100%) fixed $ac;
    text-align: center;
}

.con_adress {
    display: inline-block;
    width: 230px;
    margin: 0 auto;
    background: url(../img/icon_mail_black.svg) no-repeat left center;
    font-size: 2.4rem;
    padding-left: 15px;
}

//TAB用CSS---------------------------------------
@media screen and (min-width: 768px) {
    #contact {
        background: url(../img/bg_hana_contact.png) no-repeat 95% 90%/calc(100/1200*100%);
        position: relative;
        text-align: left;
        p {
            display: inline;
            background-color: #fff;
            line-height: 3;
        }
    }
    .con_adress {
        display: inline;
        width: auto;
        margin: 0;
        background: url(../img/icon_mail.svg) no-repeat center 10px;
        padding: 35px 10px 10px 10px;
    }
}
