#profile {
    background: url(../img/bg_img_profile.png) no-repeat 90% 10% /calc(137/320*100%) fixed, url(../img/bg.jpg) no-repeat center center;
    p {
        display: inline;
        margin: 2px 0;
    }
}

.txt-abc {
    padding: 10px 0;
    &:first-of-type {
        padding-top: 5px;
    }
}

//TAB用CSS---------------------------------------
@media screen and (min-width: 768px) {
    #profile {
        background: url(../img/bg_hana_profile.png) no-repeat 95% 90%/calc(100/1200*100%);
        p {
            display: inline-block;
            padding: 5px 2px;
            background-color: #fff;
            margin: 0 5px;
        }
    }
    .txt-abc {
        padding: 17px 0 0;
    }
}

//PC用CSS---------------------------------------
@media screen and (min-width: 1200px) {
    .txt-abc {
        margin: 0 40px;
        &:first-of-type {
            margin-right: 0;
        }
    }
}
