#skill {
    background: url(../img/bg_img_skill.png) no-repeat 90% 10% /calc(215/320*100%) fixed $ac;
    .no-margin {
        margin-top: 25px;
        p {
            margin: 0;
        }
    }
}

//TAB用CSS----------------------------------------
@media screen and (min-width: 768px) {
    #skill {
        background: url(../img/bg_hana_skill.png) no-repeat 95% 90%/calc(100/1200*100%);
        line-height: 2;
        font-weight: 500;
    }
    .skill-txt2 {
        position: absolute;
        right: 60%;
        top: 18%;
        padding-bottom: 50px;
    }
}

//PC用CSS----------------------------------------
@media screen and (min-width: 1200px) {
    #skill {
        line-height: 3;
    }
}
